.slide-in-left
{
	-webkit-animation: slide .1s  1;
	animation: slide .1s  1;
	-moz-animation: slide .1s 1;
	-o-animation: slide .1s 1;
	-ms-animation: slide .1s 1;
	
}

@-webkit-keyframes slide
{
	0%{margin-left:-500px};
	100%{margin-left:0};
}