body
{
	box-sizing:border-box;
	font-family: 'Exo 2', sans-serif;
	color:white;
	text-align: center;
}
a
{
	color: #fff;
	text-decoration: none;
}

main
{
	width: 75%;
	display: inline-block;
	float: left;
}

/* PANELS */

.panel
{
	width: 100%;
	height:100vh;	
}




@media screen and (max-width: 512px){

	#slide-container
	{
		width: 100%;
		max-width:100%;
	}
}
