/* BASES */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Exo+2");
* {
  box-sizing: border-box; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1;
  display: flexbox;
  box-sizing: border-box; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.bg1 {
  /*red to purple*/
  background: red;
  /* Old browsers */
  /* FF3.6+ */
  /* Chrome,Safari4+ */
  /* Chrome10+,Safari5.1+ */
  /* Opera 11.10+ */
  /* IE10+ */
  background: linear-gradient(to right, red 0%, #330033 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff0000', endColorstr='#330033',GradientType=1 );
  /* IE6-9 */ }

.bg2 {
  /*purple to orange*/
  background: #330033;
  /* Old browsers */
  /* FF3.6+ */
  /* Chrome,Safari4+ */
  /* Chrome10+,Safari5.1+ */
  /* Opera 11.10+ */
  /* IE10+ */
  background: linear-gradient(to right, #330033 0%, #fc6900 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#330033', endColorstr='#fc6900',GradientType=1 );
  /* IE6-9 */ }

.bg3 {
  /*orange to purple*/
  background: #fc6900;
  /* Old browsers */
  /* FF3.6+ */
  /* Chrome,Safari4+ */
  /* Chrome10+,Safari5.1+ */
  /* Opera 11.10+ */
  /* IE10+ */
  background: linear-gradient(to right, #fc6900 0%, #330033 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fc6900', endColorstr='#330033',GradientType=1 );
  /* IE6-9 */ }

.bg4 {
  /*purple to red*/
  background: #330033;
  /* Old browsers */
  /* FF3.6+ */
  /* Chrome,Safari4+ */
  /* Chrome10+,Safari5.1+ */
  /* Opera 11.10+ */
  /* IE10+ */
  background: linear-gradient(to right, #330033 1%, red 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#330033', endColorstr='#ff0000',GradientType=1 );
  /* IE6-9 */ }

.bg5 {
  /*orange to red*/
  background: #ff7b00;
  /* Old browsers */
  /* FF3.6+ */
  /* Chrome,Safari4+ */
  /* Chrome10+,Safari5.1+ */
  /* Opera 11.10+ */
  /* IE10+ */
  background: linear-gradient(to right, #ff7b00 0%, #fc0004 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff7b00', endColorstr='#fc0004',GradientType=1 );
  /* IE6-9 */ }

/* COMPONENTS */
nav.navbar {
  position: absolute;
  background-color: transparent; }
  nav.navbar .navbar-collapse {
    background-color: black; }

a {
  font-family: "Exo 2", sans-serif;
  color: #ffffff;
  text-decoration: none;
  transition: all, 0.25s; }
  a:hover {
    color: #ff0000; }
  a:active {
    color: #ff0000; }

/* SIDEBAR NAV */
.open {
  -webkit-transform: translateX(38.46154vw);
          transform: translateX(38.46154vw); }

.sidebar {
  position: absolute;
  height: 100%;
  width: 38.46154vw;
  background-color: #000;
  margin-left: -38.46154vw;
  transition: all .3s ease; }
  .sidebar nav ul {
    padding: 1em 0;
    width: 100%; }
  .sidebar nav li {
    display: block;
    padding: .5em; }
    .sidebar nav li a {
      text-decoration: none; }
  .sidebar .sidebar-icon {
    position: absolute;
    top: 1%;
    right: -11%;
    max-width: 10%; }
    .sidebar .sidebar-icon img {
      max-width: 100%; }

/* SLIDESHOW */
#slideshow, #slide-container {
  display: none; }

.slideshow {
  height: 100vh;
  width: 100vw;
  position: relative;
  background-color: rgba(0, 0, 0, 0.8);
  text-align: center; }

#slide-container {
  position: relative;
  height: 100%;
  margin: 1em auto;
  background-color: #000000; }
  @media (max-width: 512px) {
    #slide-container {
      width: 100%;
      height: auto; } }

#slide-container img {
  height: 80%; }
  @media (max-width: 512px) {
    #slide-container img {
      height: auto;
      width: 100%; } }

.slide-navigation {
  position: absolute;
  width: 100%;
  top: 45%; }

#next, #prev {
  position: absolute;
  background-color: transparent;
  width: 34px;
  height: 49px; }

#next {
  background-image: url(../images/icons/right-icon.png);
  right: 0; }

#prev {
  background-image: url(../images/icons/left-icon.png);
  left: 0; }

#next:hover {
  background-image: url(../images/icons/right-icon-hover.png); }

#prev:hover {
  background-image: url(../images/icons/left-icon-hover.png); }

/* IFRAME */
iframe {
  display: none;
  width: 100%;
  height: 100%; }

.iframe-container {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1em;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.8); }

/* WEB DEVELOPMENT IFRAME PAGE */
#web-dev {
  display: inline-block;
  text-align: center;
  width: 100%;
  height: 100%;
  margin: 0 auto; }

#web-dev-item-container {
  width: 100%;
  display: inline-block;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center; }

.web-dev-item {
  padding: 1em;
  float: left;
  height: 200px;
  opacity: 1;
  margin-top: 0;
  transition: all 0.5s; }
  @media (max-width: 1400px) {
    .web-dev-item {
      width: calc(90vw/4); } }
  @media (max-width: 1080px) {
    .web-dev-item {
      width: calc(90vw/3); } }
  @media (max-width: 728px) {
    .web-dev-item {
      width: calc(90vw/2); } }
  @media (max-width: 411px) {
    .web-dev-item {
      width: calc(90vw/1); } }
  .web-dev-item .web-dev-link-item {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid #fff;
    height: 100%;
    width: 100%; }
    .web-dev-item .web-dev-link-item p {
      font-size: .75em;
      padding: 0.5em; }

div.web-dev-item.hide {
  margin-top: -200px;
  opacity: 0; }

.reveal {
  opacity: 1; }

body {
  box-sizing: border-box;
  font-family: 'Exo 2', sans-serif;
  color: white;
  text-align: center;
  background-color: #fff; }
  body {
    font-size: 16px; }
    @media screen and (min-width: 320px) {
      body {
        font-size: calc(16px + 8 * ((100vw - 320px) / 880)); } }
    @media screen and (min-width: 1200px) {
      body {
        font-size: 24px; } }

main {
  width: 75%;
  display: inline-block;
  float: left; }

/* PANELS */
.panel {
  width: 100vw;
  height: 100vh; }
