

body
{
	box-sizing:border-box;
	font-family: 'Exo 2', sans-serif;
	color:white;
	text-align: center;
	
	// Mixin to alter font size based on screen dimensions
	@include fluid-type($min_width, $max_width, $min_font, $max_font);
	background-color:#fff;
}

main
{
	width: 75%;
	display: inline-block;
	float: left;
}

#loaded-content
{
    height: 100%;
    width: 100%;
}



/* PANELS */

.panel
{

	width: 100vw;
	height:100vh;	
}
