
body
{
	box-sizing:border-box;
	font-family: 'Exo 2', sans-serif;
	color:white;
	text-align: center;
	@include fluid-type($min_width, $max_width, $min_font, $max_font);
	background-color:#000;
}

main
{
	width: 75%;
	display: inline-block;
	float: left;
}

/* PANELS */

.panel
{

	
	width: 100vw;
	height:100vh;	
}
/*#test
{
	position: absolute;
	left: -500px;
	
	top: 0;
	width: 500px;
	height: 100vh;
	background-color: rgba(0,0,0,.5);
	

}*/





@media screen and (max-width: 512px){

	#slide-container
	{
		width: 100%;
		max-width:100%;
	}
}
