

.about-skills
{
	width:70%;
	display: inline-block;

	h1
	{
		font-size:2em;
		margin: 1em auto;
	}
}
#about-skills-header
{
	margin:1em auto;
}
.about-display
{
    width: 100%;
    height: 200px;
    padding:5%;
    background-color: #000;
}
.about-skills-container
{
	display:inline-block;
	width:100%;

}
.about-text.hide
{
	display:none;
}
.about-text
{
	display:block;
	transition: all 1s ease;
}

.skill-icon
{
	
    width: calc(100%/3);
    background-size: cover;
    background-position: center center;
    transition: all 0.5s;
    display: inline-block;
    float: left;
}
.skill-icon:before
{
	content: "";
	display: block;
	padding-top: 100%; 	/* initial ratio of 1:1*/
}

div.skill-icon.hide
{
	top:-500px;
}

// Animation effect for skill category icons

@keyframes anim-graph
{
	0%{background-image:url('../img/icons/aboutgraph.jpg');}
	50%{background-image:url('../img/icons/aboutgraph_invert.jpg');}
	100%{background-image:url('../img/icons/aboutgraph.jpg');}
}
@keyframes anim-art 
{
	
	0%{background-image:url('../img/icons/aboutart.jpg');}
	50%{background-image:url('../img/icons/aboutart_invert.jpg');}
	100%{background-image:url('../img/icons/aboutart.jpg');}
}
@keyframes anim-web 
{
	
	0%{background-image:url('../img/icons/aboutweb.jpg');}
	50%{background-image:url('../img/icons/aboutweb_invert.jpg');}
	100%{background-image:url('../img/icons/aboutweb.jpg');}
}

.animate-graph
{
	animation: anim-graph 0.75s ease-in;
}
.animate-art
{
	animation: anim-art 0.75s ease-in;
}
.animate-web
{
	animation: anim-web 0.75s ease-in;
}




.graph
{
	left:0;
	background-image: url('../img/icons/aboutgraph.jpg');

	&:hover
	{
		background-image:url('../img/icons/aboutgraph_invert.jpg');
	}
}
.art
{
	left:calc(100vw/3);
	background-image: url(../img/icons/aboutart.jpg);

	&:hover
	{
		background-image:url('../img/icons/aboutart_invert.jpg');
	}
}
.dev
{
	left:calc((100vw/3)*2);
	background-image: url(../img/icons/aboutweb.jpg);

	&:hover
	{
		background-image:url('../img/icons/aboutweb_invert.jpg');
	}
}