/* SIDEBAR NAV */
 
$sidebarWidth : (100vw / 2.6);
.open
{
	transform: translateX($sidebarWidth);
}
.closed
{
	
}
.sidebar
{
	position:absolute;
	height: 100%;
	width: $sidebarWidth;
	background-color: #000;
	margin-left:-$sidebarWidth;
	//transform: translateX(-$sidebarWidth);
	transition: all .3s ease;
	

	nav
	{
		ul
		{
			padding:1em 0;
			width:100%;
		}

		li
		{
			display:block;
			padding:.5em;

			a
			{
				text-decoration:none;
			}
		}

	}
	.sidebar-icon
	{
		position:absolute;
		top: 1%;
	    right: -11%;
	    max-width: 10%;
		img
		{
			max-width:100%;
		}
	}
}