/* SIDEBAR NAV */

.sidebar
{
	
	position:absolute;
	height: 100%;
	width: calc(100vw / 2);
	background-color: #000;

	nav
	{
		ul
		{
			padding:1em 0;
			width:100%;
		}

		li
		{
			display:block;
			padding:.5em;

			a
			{
				text-decoration:none;
			}
		}

	}
}