/* SLIDESHOW */

#slideshow, #slide-container
{
	display: none;
}

.slideshow
{
	
	height: 100vh;
	width: 100vw;
	position: relative;
	background-color:rgba(0,0,0,.8);
	text-align: center;
}

#slide-container
{
	position: relative;
	height:100%;
	display: flex;
    flex-direction: column;
    justify-content: center;

	@media(max-width:512px)
	{
		width: 90%;
	    height: 100%;
	}
	
	margin:0 auto;
	background-color: #000000;
}

#slide-container img
{
	height: 80%;
	
	@media(max-width:512px)
	{
		height:auto;
		width:100%;
	}
	
}

.slide-navigation
{
	position: absolute;
	display: flex;
    justify-content: space-evenly;
	top:45%;
	width:100%;
	height:10%;
	
}

#next,#prev
{
	
	display:inline-block;
	background-color: transparent;
	width: 34px;
	height: 49px;
}

#next
{
	margin-right: -20px;
    float: right;
	background-image: url(../images/icons/right-icon.png);
	&:hover
	{
		background-image: url(../images/icons/right-icon-hover.png) ;
	}
}



#prev
{
	margin-left: -20px;
    float: left;
	background-image: url(../images/icons/left-icon.png) ;
	&:hover
	{
		background-image: url(../images/icons/left-icon-hover.png) ;
	}
}	




