/* SLIDESHOW */

#slideshow, #slide-container
{
	display: none;
}

.slideshow
{
	
	height: 100vh;
	width: 100vw;
	position: relative;
	background-color: #000000;
	background-color:rgba(0,0,0,.8);
	text-align: center;
}

#slide-container
{
	position: relative;
	width:50%;
	max-height:400px;

	@media(max-width:640px)
	{
		width:100%;
	}
	
	margin:1em auto;
	background-color: #000000;
}

#slide-container img
{
	width: 100%;
	
}

.slide-navigation
{
	position: absolute;
	width: 100%;
	top:45%;
}

#next,#prev
{
	position: absolute;
	background-color: transparent;
	width: 34px;
	height: 49px;
}

#next
{

	background-image: url(../images/icons/right-icon.png) ;
	right: 0;
}

#prev
{
	background-image: url(../images/icons/left-icon.png) ;
	left: 0;
}
#next:hover
{
	background-image: url(../images/icons/right-icon-hover.png) ;
}

#prev:hover
{
	background-image: url(../images/icons/left-icon-hover.png) ;
}