/* SLIDESHOW */

#slideshow, #slide-container
{
	display: none;
}

.slideshow
{
	position:fixed;
	height: 100vh;
	width: 100vw;
	background-color:rgba(0,0,0,.8);
	text-align: center;
	padding:1em;
}

#slide-container
{
	max-width:80%;
	position: relative;
    display: inline-block;
    margin: 1em auto;
    background-color: #000000;

	@media(max-width:512px)
	{
		width: 90%;
	    height: 100%;
	}
}

#slide-container img
{
	height: 80%;
	
	@media(max-width:512px)
	{
		height:auto;
		width:100%;
	}
	
}

.slide-navigation
{
	position: absolute;
	top:45%;
	width:100%;
	height:10%;

	@media(max-width:520px)
	{
		position:relative;
	}
	
}

#next,#prev
{
	
	display:inline-block;
	background-color: transparent;
	width: 34px;
	height: 49px;
	
}

#next
{
	
    float: right;
	background-image: url(../images/icons/right-icon.png);
	&:hover
	{
		background-image: url(../images/icons/right-icon-hover.png) ;
	}
	
}



#prev
{
	
    float: left;
	background-image: url(../images/icons/left-icon.png) ;
	&:hover
	{
		background-image: url(../images/icons/left-icon-hover.png) ;
	}
	
}	




