<div class="item">			
				
	<div id="aboutslide" class="slide bg3">

		<div class="shadowframe">

		<div id="aboutframe">

			<div class="aboutweb">

			</div><!--abouttext-->
			
			<div class="aboutart">
				
			</div>

			<div  class="aboutgraph">
				
			</div>
            

            <div id="web" class="above">
             
            </div> 
            
            <div id="art" class="above">
                
             </div> 

             <div id="graph" class="above">
                
             </div> 

 			<div class="stars starsone"></div>
			<div class="stars starstwo"></div>
			<div class="stars starsthree"></div>

            <div class="textbox">

		    	<h2 class="statement">Lets Create...</h2>			
			    	
			</div>

        	</div><!--aboutframe-->               

        </div><!--shadowframe-->

    </div><!--gallerycontainer-->

</div><!--item-->