<div class="item">	
	
	<!-- <div id="project-nav" class="sidebar">

				
				<ul>

					<li><a href="#" id="graphic_design" class="see-more">Graphic Design</a></li>
					<li><a href="#" id="web_development" class="see-more">Web Development</a></li>
					<li><a href="#" id="artwork" class="see-more">Artwork</a></li>
		
				</ul>

	</div>	 -->
				
	<div id="contentslide" class="slide bg2">

		<div class="shadowframe">

			<div id="slideshow">

				<div id="slide-container"></div>

				<div id="img-container">

				</div>

			</div>



		</div><!--shadowframe-->

	</div><!--contentslide-->

</div><!--item-->