<div class="item">	



					

	<!-- <div id="project-nav" class="sidebar">

				
				<ul>

					<li><a href="#" id="graphic_design" class="see-more">Graphic Design</a></li>
					<li><a href="#" id="web_development" class="see-more">Web Development</a></li>
					<li><a href="#" id="artwork" class="see-more">Artwork</a></li>
		
				</ul>

	</div>	 -->
				
	<div id="contentslide" class="slide bg2">

		<div class="shadowframe">

			<!-- GALLERY NAVIGATION -->

			<div id="gallerycontent" >

						<div id="gallery-item-container">

							<div class="galleryitem">
						
								<a href="#" class="galleryimage">
									<img src="images/neon_live_music.jpg" alt="poster preview">
								</a>
	
								<div class="imgtooltip graphic">
	
									<p>Live Music<br>Artillery Arms Event Poster</p>
	
									<a href='#'>
	
										<div class="more-btn1">
											<p>See more</p>
										</div>
	
									</a>
	
								</div>
	
							</div>
	
							<div class="galleryitem">
	
								<a href="#" class="galleryimage" >
	
									<img src="images/joker_gallery_image.jpg" alt="illustration preview"/>
	
								</a>
	
								<div class="imgtooltip art">
	
									<p>The Joker <br> Illustration</p>
	
									<a href="#">
	
										<div class="more-btn1">
	
											<p>See more</p>
	
										</div>
	
									</a>
	
								</div>
	
							</div><!--galleryitem-->
	
							<div class="galleryitem">
	
								<a href="#" class="galleryimage" >
	
									<img src="images/jimi_gallery_image.jpg" alt="poster preview" />
								</a>
	
								<div class="imgtooltip graphic">
	
									<p>Jimi Hendrix V&amp;A Exhibition <br>Poster Mock Up</p>
	
									<a href='#'>
	
										<div class="more-btn1">
											<p>See more</p>
										</div>
	
									</a>
	
								</div>
	
							</div><!--galleryitem-->
	
							<div class="galleryitem">
	
								<a href="#" class="galleryimage" >
	
									<img src="images/punkfish_gallery_image.jpg" alt="illustration preview"/>
	
								</a>
	
								<div class="imgtooltip art">
	
									<p>Creature Feature, PunkFish <br>Illustration</p>
	
									<a href='#'>
	
										<div class="more-btn1">
											<p>See more</p>
										</div>
	
									</a>
	
								</div>
	
							</div><!--galleryitem-->
	
							<div class="galleryitem">
	
								<a href="#" class="galleryimage" >
	
									<img src="images/geos_logo_gallery_image.jpg" alt="logo design preview" />
								</a>
	
								<div class="imgtooltip logo">
	
									<p>Galway Earth &amp; Ocean Society Logo</p>
	
									<a href='#'>
	
										<div class="more-btn1">
											<p>See more</p>
										</div>
	
									</a>
	
								</div>
	
							</div><!--galleryitem-->
	
							<div class="galleryitem">
	
								<a href="#" class="galleryimage" >
	
									<img src="images/logo_gallery_image.jpg" alt="logo design preview"/>
	
								</a>
	
								<div class="imgtooltip logo">
	
									<p>Rezoomo.com Logo</p>
	
									<a href='#'>
	
										<div class="more-btn1">
	
											<p>See more</p>	
	
										</div>
	
									</a>
	
								</div>
	
							</div>

						</div><!--galleryitem-->

					</div><!--gallerycontent-->

			<div id="gallery-overlay">
				
					<div class="lightbox">
																			
						<div class="slider">

							<div class="close"></div>
							
							<div id="slide-container">

								<img id="slide" src="" alt=""></div>

							</div>

							<div id="next"></div>

							<div id="prev"></div>

						</div>						

					</div>

				</div>

		</div><!--shadowframe-->

	</div><!--contentslide-->

</div><!--item-->