

#stars {
	height:360px;
	width:510px;
	position: absolute;
	margin-left: 58px;
	margin-top: 49px;
	background-color: black;
	overflow: hidden;
	z-index: 0;
}

.stars {
	animation: stars 60s linear infinite;	
	margin-left: -600px;
	position:absolute;
	background-image: url(../img/stars-front.png);
	display: inline-block;
	height:300px;
	width:900px;
	
}

@-webkit-keyframes stars 
{
	0%{margin-left: -600px}
	100%{margin-left: 600px	}
}

@-moz-keyframes stars 
{
	0%{margin-left: -600px}
	100%{margin-left: 600px	}
}

@-o-keyframes stars 
{
	0%{margin-left: -600px}
	100%{margin-left: 600px	}
}

@-ms-keyframes stars 
{
	0%{margin-left: -600px}
	100%{margin-left: 600px	}
}


.starstwo {
	animation: starstwo 100s linear infinite;
	margin-left: -600px;
	position:absolute;
	opacity: .6;
	background-image: url(../img/stars-middle.png);
	display: inline-block;
	height:300px;
	width:900px;
}

@-webkit-keyframes starstwo 
{
	0%{margin-left: -600px}
	100%{margin-left: 600px	}
}
@-moz-keyframes starstwo 
{
	0%{margin-left: -600px}
	100%{margin-left: 600px	}
}
@-o-keyframes starstwo 
{
	0%{margin-left: -600px}
	100%{margin-left: 600px	}
}
@-ms-keyframes starstwo 
{
	0%{margin-left: -600px}
	100%{margin-left: 600px	}
}
.starsthree {
	animation: starsthree 120s linear infinite;
	margin-left: -600px;
	position:absolute;
	opacity: .3;
	background-image: url(../img/stars-back.png);
	display: inline-block;
	height:300px;
	width:900px;
}

@-webkit-keyframes starsthree 
{
	0%{margin-left: -600px}
	100%{margin-left: 600px	}
}

@-moz-keyframes starsthree 
{
	0%{margin-left: -600px}
	100%{margin-left: 600px	}
}
@-o-keyframes starsthree 
{
	0%{margin-left: -600px}
	100%{margin-left: 600px	}
}
@-ms-keyframes starsthree 
{
	0%{margin-left: -600px}
	100%{margin-left: 600px	}
}