$main-font:'Exo 2', sans-serif;

body
{
	box-sizing:border-box;
	font-family: $main-font;
	color:white;
	text-align: center;
	
	// Mixin to alter font size based on screen dimensions
	@include fluid-type($min_width, $max_width, $min_font, $max_font);
	background-color:#fff;
}

#landing-page
{
    width: 100%;
    height: 100%;
}

#slide-content
{
	position:absolute;
	width:100%;
	height:100%;
	display:none;
}
span.page-heading
{
	text-align:center;
	margin:0 auto;
	font-size:1.25em;
	padding:1em;
}
span.page-caption
{
	text-align:center;
	margin:0 auto;
	font-size:1em;
	padding:1em;
	width:65%;
	@media(max-width:512px)
	{
		width:95%;
	}

}

