

.about-skills
{
	margin-top:2em;
	width:70%;
	display: inline-block;
	box-shadow: -10px 20px 60px 5px #000;

	h1
	{
		font-size: 1.25em;
    	margin: .25em auto;
	}
}
.about-display
{
	position:relative;
    width: 100%;
    min-height: 300px;
    padding:5%;
    background-color: #000;
    transition: all .25s;
    overflow:hidden;

    p
    {
    	margin-top:1em;
    }
}
.about-skills-container
{
	display:inline-block;
	width:100%;

}
.about-text.hide
{
	display:none;
}
.about-text
{
	display:block;
	transition: all 1s ease;
}

.skill-icon
{
	
    width: calc(100%/3);
    background-size: cover;
    background-position: center center;
    transition: all 0.5s;
    display: inline-block;
    float: left;
}
.skill-icon:before
{
	content: "";
	display: block;
	padding-top: 100%; 	/* initial ratio of 1:1*/
}

div.skill-icon.hide
{
	top:-500px;
}

// Animation effect for skill category icons

@keyframes anim-graph
{
	0%{background-image:url('../img/aboutgraph.jpg');}
	50%{background-image:url('../img/aboutgraph_invert.jpg');}
	100%{background-image:url('../img/aboutgraph.jpg');}
}
@keyframes anim-art 
{
	
	0%{background-image:url('../img/aboutart.jpg');}
	50%{background-image:url('../img/aboutart_invert.jpg');}
	100%{background-image:url('../img/aboutart.jpg');}
}
@keyframes anim-web 
{
	
	0%{background-image:url('../img/aboutweb.jpg');}
	50%{background-image:url('../img/aboutweb_invert.jpg');}
	100%{background-image:url('../img/aboutweb.jpg');}
}

.animate-graph
{
	animation: anim-graph 2s ease-in;
}
.animate-art
{
	animation: anim-art 2s ease-in;
}
.animate-web
{
	animation: anim-web 2s ease-in;
}




.graph
{
	left:0;
	background-image: url('../img/aboutgraph.jpg');

	&:hover
	{
		background-image:url('../img/aboutgraph_invert.jpg');
	}
}
.art
{
	left:calc(100vw/3);
	background-image: url(../img/aboutart.jpg);

	&:hover
	{
		background-image:url('../img/aboutart_invert.jpg');
	}
}
.dev
{
	left:calc((100vw/3)*2);
	background-image: url(../img/aboutweb.jpg);

	&:hover
	{
		background-image:url('../img/aboutweb_invert.jpg');
	}
}