/* WEB DEVELOPMENT IFRAME PAGE */
#web-dev
{
	display: none;
	text-align: center;
	width: 100%;
	height:auto;
	margin: 0 auto;
	
}

#web-dev-item-container
{
	width: 100%;
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items:center;
    justify-content: center;
}



.web-dev-item
{
	padding: 1em;
    float: left;
    height: 200px;

    opacity:1;
    margin-top:0;
    
	transition:all 0.5s;

	
   

	@media(max-width:1400px)
	{
		width:calc(90vw/3);
	}
	@media(max-width:1024px)
	{
		width:calc(90vw/2);
	}
	@media(max-width:768px)
	{
		width:calc(90vw/2);
	}
	@media(max-width:411px)
	{
		width:calc(90vw/1);
	}

	.web-dev-link-item
	{

		display: flex;
	    flex-direction: column;
	    flex-wrap: nowrap;
	    justify-content: center;
	    align-items: center;
		padding: 1rem;
		background-color:rgba(0, 0, 0, 1);
		border:1px solid #fff;
		height:100%;
		width:100%;
		p
		{
			font-size:.75em;
			padding:0.5em;
		}

	}
}
div.web-dev-item.hide
{
	margin-top:-200px;
	opacity:0;
}
.reveal
{
	opacity:1;
}





